* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10%;
}

header img {
  width: 60vw;
}

header h1 {
  margin: 8px;
}

main.home form, main.register form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home input, .register input {
  margin: 5px;
  border-radius: 20px;
  background-color: #ACA2B0;
  padding: 8px 16px;
  font-weight: bold;
}

button {
  background-color: #ACA2B0;
  border-radius: 20px;
  padding: 8px 16px;
  font-weight: bold;
}

button.login {
  margin-bottom: 20px;
}

button.google {
  background-color: transparent;
  padding: 0;
  border: none;
}

.home p {
  margin: 10px;
}

main.register a {
  margin-top: 60px;
}

header.feed {
  background-color: #ACA2B0;
}

div.user {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 8%;
}

div.photo {
  background-color: #ACA2B0;
  border-radius: 100%;
  border: 1px solid black;
  width: 80px;
  height: 80px;
}

form.post {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 20vh;
}

form.post input {
  margin: 10px;
  height: 10vh;
  padding: 10px;
}

form.post button {
  margin: 10px;
}

section.align {
  display: flex;
  justify-content: center;
}